#weather {
    color: #FFFFFE;
    padding: 0px;
    margin: 0px;
}
table#ext {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: -10px;
    font-size: 13px;
    line-height: 14px;
    height: 14px;
}
h3#icond {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 68px;
	text-align: center;
	padding-left: 68px;
}
table#ext td#icond {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 60px;
}
table#ext td#temp {
	font-size:24px;
}
table#ext td#hum::before {
	font-family: "ka-ex";
	font-size: 14px;
	content: "\e048";
	vertical-align: middle;
	padding-right: 5px;
}
table#ext td#min::before {
	font-family: "fontawesome";
	font-size: 14px;
	content: "\f068";
	vertical-align: middle;
	padding-right: 5px;
}
table#ext td#min {
    text-align: left !important;
    float: left;
    padding-bottom: 5px;
}
table#ext td#max {
    text-align: right !important;
    float: right;
    padding-bottom: 5px;
}
#ext td#max::after {
	font-family: "fontawesome";
	font-size: 14px;
	content: "\f067";
	vertical-align: middle;
	padding-left: 5px;
}
#ext td#hum {
    text-align: left !important;
    float: left;
    padding-bottom: 5px;
}
#ext td#wind {
    text-align: right !important;
    float: right;
    padding-bottom: 5px;
}
#ext td#wind::after {
	font-family: "ka-ex";
	font-size: 14px;
	content: "Q";
	vertical-align: middle;
	padding-left: 5px;
}
#ext td#nuv::before {
	font-family: "ka-ex";
	font-size: 14px;
	content: "\e08f";
	vertical-align: middle;
	padding-right: 5px;
}
#ext td#nuv {
    text-align: left !important;
    float: left;
    padding-bottom: 5px;
}
#ext td#mb {
    text-align: right !important;
    float: right;
    padding-bottom: 5px;
}
#ext td#mb::after {
	font-family: "ka-ex";
	font-size: 14px;
	content: "\e0a3";
	vertical-align: middle;
	padding-left: 5px;
}

#ext td#sunrise::before {
	font-family: "ka-ex";
	font-size: 14px;
	content: "\e014";
	vertical-align: middle;
	padding-right: 5px;
}
#ext td#sunrise {
    text-align: left !important;
    float: left;
}
#ext td#sunset {
    text-align: right !important;
    float: right;
}
#ext td#sunset::after {
	font-family: "ka-ex";
	font-size: 14px;
	content: "\e015";
	vertical-align: middle;
	padding-left: 5px;
}
#condi {
   text-transform: uppercase;
   text-align: center;
   font-size: 16px;
   line-height: 16px;
    margin: 0;
    padding: 0;
}
#temp::after {
	font-family: "ka-ex";
	font-size: 26px;
	content: "A";
	padding-top: 5px;
}
.systeml p {
	text-transform: uppercase;
	line-height: 16px;
	margin: 0;
	padding: 0;
}
.sz40l {
	float: right;
	font-size: 40px;
}